config MACH_LGE
	bool "Machine LGE"
	help
		Support for machine LGE.

menu "LGE Board Selection"

config LGE_PM
	tristate "LAHAINA(SM8350) LGE POWER Feature"
	depends on SPMI || MSM_SPMI
	help
		Say Y here to enable support for LAHAINA(SM8350)/PM8350 chip lge feature.
		Power Management, Battery charging, Battery Monitoring System
		with battery FET and fuel gauge.

config LGE_PM_DEBUG
	tristate "Support LGE PM Debug feature"
	default n
	depends on MACH_LGE
	help
		LGE PM Debug Feature

config MACH_LAHAINA_BLM
	bool "LAHAINA BLM"
	depends on ARCH_LAHAINA
	select MACH_LGE
	help
		Support for the Qualcomm LAHAINA(SM8350) BLM device.

config MACH_LAHAINA_BLM_LDU
	bool "LAHAINA BLM_LDU"
	depends on ARCH_LAHAINA
	select MACH_LGE
	help
		Support for the Qualcomm LAHAINA(SM8350) BLM LDU device.

config MACH_LAHAINA_RAINBOWLM
	bool "LAHAINA RAINBOWLM"
	depends on ARCH_LAHAINA
	select MACH_LGE
	help
		Support for the Qualcomm LAHAINA(SM8350) RAINBOWLM device.

config MACH_LAHAINA_RAINBOWLM_LDU
	bool "LAHAINA RAINBOWLM_LDU"
	depends on ARCH_LAHAINA
	select MACH_LGE
	help
		Support for the Qualcomm LAHAINA(SM8350) RAINBOWLM LDU device.

config LGE_PM_PRM
	tristate "Support LGE Power resource manager"
	help
	  LGE power resource manager

endmenu

menu "LGE Specific Patches"

config LGE_DEVICES_SUPPORT
	tristate "Support utils for LGE devices"
	default n
	help
	  LGE devices support

config LGE_HANDLE_PANIC
	tristate "Support LGE Crash Handler"
	default n
	depends on MACH_LGE
	select LGE_HANDLE_PANIC_RPMH_TIMEOUT
	help
	  LGE Crash Handler

config LGE_HANDLE_PANIC_RPMH_TIMEOUT
	tristate "Support LGE Crash Handler RPMH Timeout"
	default n
	depends on LGE_HANDLE_PANIC
	help
	  LGE Crash Handler

config LGE_BOOTLOADER_LOG
	tristate "Support LGE bootloader log"
	default n
	depends on MACH_LGE
	help
	  LGE bootloader log

config LGE_BOOTLOADER_TIME_CHECKER
	tristate "Supprt bootloader(LK, SBL) time"
	default n
	depends on MACH_LGE
	help
	  Check LK, SBL booting time at
	  sys/module/lge_bootloader_time_checker/parameters/lk_time
	  sys/module/lge_bootloader_time_checker/parameters/sbl_time

config LGE_QSDL_SUPPORT
	tristate "Support for Quality Statistics Data Logging"
	default n
	depends on MACH_LGE
	help
	  QSDL is a feature which notify infomation for quality statistics
	  data logging of device.

config LGE_ONE_BINARY_SKU
	tristate "Support LGE One binary sku carrier"
	default n
	depends on MACH_LGE
	help
	  LGE One Binary sku carrier

config LGE_PON_RESTART_REASON
    bool "Support for LGE PON RESTART REASON"
    depends on MACH_LGE
    help
      Say 'y' here to include support for LGE PON RESTART REASON.

config LGE_MME_BUS
        bool "boost interface for LGE MME"
        depends on MACH_LGE
        help
          Say 'y' here to include support for the boost interface
          of msm bus to support LGE MME.

config LGE_MME_BOOST
        bool "booster for LGE MME"
        depends on LGE_MME_BUS
        help
          Say 'y' here to include support for the boost
          of msm bus to support LGE MME.

config LGE_MME_BOOST_LONG_TERM
        bool "Long term booster for LGE MME"
        depends on LGE_MME_BUS
        help
          Say 'y' here to include support for the long term boost
          of msm bus to support LGE MME.

config LGE_MME_BOOST_EBI
        bool "EBI Clock booster for LGE MME"
        depends on LGE_MME_BUS
        help
          Say 'y' here to include support for the ebi clock boost
          of msm bus to support LGE MME.

config LGE_MME_PM_QOS_DMA_LATENCY
        bool "PM QOS DMA latency for LGE MME"
        depends on LGE_MME_BUS
        help
          Say 'y' here to include support for PM QOS DMA Latency
          of msm bus to support LGE MME.

config LGE_MME_DRV
        tristate "Support WMC driver"
        depends on MACH_LGE
        default m
        help
          Say 'y' here to enable Wireless Magnetic Communication driver for LG pay

config LGE_MME_TEST
        tristate "Support WMC driver test"
        depends on MACH_LGE
        help
          Say 'y' here to enable Wireless Magnetic Communication driver for LG pay

config LGE_POWEROFF_TIMEOUT
	bool "Support shutdown and reboot timeout"
	depends on MACH_LGE
	default y
	help
	  Say 'y" here to include support for shutdown and reboot timeout.

config LFS_COMMON
        bool "Support LGE Filesystem Kernel Feature"
        default y if MACH_LGE
        select NLS_UTF8
        help
          Say 'y' here to enable LGE Filesystem Features

config LGE_SUPPORT_HALLIC
	bool "LGE Hall IC Support"
        default y if MACH_LGE
	help
	  Say Y here if you want to use LGE hallic

config LGE_DISPLAY_DIMMING_BOOT_SUPPORT
	bool "Support dimming boot"
	depends on MACH_LGE
	help
	  Say 'y" here to include support for dimming boot.

config LGE_SUPPORT_WMC_FAULT_N
	bool "LGE WMC_FAULT_N Support"
	depends on LGE_MME_DRV || LGE_MME_TEST
	default n
	help
	  Say Y here if device has WMC_FAULT_N gpio

config LGE_PM_SMPL_COUNTER
	tristate "Support LGE SMPL COUNTER feature"
	default n
	depends on MACH_LGE
	help
	  Say y to enable smpl_cnt module, that count when
	  booted by SMPL

config LGE_RESERVED_GPIO_BLM
	bool "Support LGE_RESERVED_GPIO_BLM feature"
	default n
	help
	  Say y to enable Reserved GPIO for BLM

config LGE_RESERVED_GPIO_RAINBOWLM
	bool "Support LGE_RESERVED_GPIO_RAINBOWLM feature"
	default n
	help
	  Say y to enable Reserved GPIO for RAINBOWLM

config LGE_SREADAHEAD
        bool "Support S-ReadAhead"
	default n
	help
	  Say y to enable S-ReadAhead

endmenu
